[Desktop Entry]
Name=whatsapp
Exec=AppRun %U
Terminal=false
Type=Application
Icon=whatsapp
StartupWMClass=whatsapp
Comment=unofficial whatsapp client for linux 
Categories=Network;
